.Footer{
    width:100%;
    margin-top: 100px;
    padding: 10px;
    background:black;
    color:white;
    font-size:16px;
    text-align:center;
    position: relative;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}

@media(max-width:770){
    .Footer{
        width: 100%;
    }
}